@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Londrina+Solid:wght@100;300;400;900&family=Poppins:wght@300;400;500;600;700&display=swap");

/* BASE START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  font-weight: 500;
  border: 1px solid black;
  transition: 0.2s ease all;
}

.btn-sm {
  line-height: 33px;
}

.btn-lg {
  line-height: 45px;
}

.btn-primary {
  background-color: #1367ef;
  color: white;
  border-color: #1367ef;
}

.btn-primary:hover {
  background-color: white;
  color: #1367ef;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  outline: none;
  padding: 8px 8px 8px 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border: 1px solid gray;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 0;
}

/* BASE END */

/* HEADER START */

header {
  border-bottom: 1px solid #dee0ea;
  position: relative;
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}

.header-notifaction {
  background-color: #1367ef;
  padding: 14px 0;
  text-align: center;
  color: white;
  font-size: 12px;
}

.header-notifaction a {
  color: white;
  font-weight: 600;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.header-center .bi-x-circle {
  display: none;
}

.header-left .logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

.header-center .navigation .menu {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.header-center .menu .menu-item {
  position: relative;
  display: flex;
  height: 90px;
  align-items: center;
}

.header-center .menu .menu-item .menu-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.header-center .menu .menu-item:hover .menu-link::after {
  width: 100%;
}

.header-center .menu .menu-item .menu-link {
  position: relative;
  display: flex;
  align-items: center;
}

.header-center .menu .menu-item .menu-link.active::after {
  width: 100%;
}

.header-center .menu .menu-item .menu-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #1367ef;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s ease width;
}

.header-center .menu .menu-item i {
  font-size: 12px;
}

.header-right .header-right-links {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.header-right .header-right-links i {
  font-size: 18px;
  display: flex;
}

.header-right-links .header-search {
  border: none;
  background-color: transparent;
}

.header-right-links .header-account i {
  font-size: 23px;
}

.header-right-links .header-cart {
  position: relative;
}

.header-right-links .header-cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 10px;
  font-weight: 500;
  background-color: #1367ef;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ? Menu Dropdown Start */

header .menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: -30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

header .menu-dropdown-content {
  width: 220px;
  background-color: #fff;
  border: 1px solid #dee0ea;
  padding: 18px 0;
}

header .menu-dropdown-content a {
  padding: 4px 30px;
  font-size: 14px;
  display: flex;
  transition: color 0.2s ease;
}

header .menu-dropdown-content a:hover {
  color: #1367ef;
}

.header-center .menu .menu-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}

.menu-dropdown-megamenu {
  border: 1px solid #dee0ea;
  background-color: white;
  padding: 22px;
  display: flex;
  column-gap: 50px;
}

.megamenu-wrapper {
  position: static !important;
}

.megamenu-wrapper .megamenu-links {
  display: flex;
  column-gap: 50px;
}

.megamenu-wrapper .megamenu-products-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.megamenu-wrapper .megamenu-products-list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.megamenu-wrapper .megamenu-products-list a {
  font-size: 14px;
}

.megamenu-wrapper .megamenu-single-title {
  font-size: 18px;
  font-weight: 500;
}

.megamenu-wrapper .megamenu-single-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}

.megamenu-wrapper .megamenu-single-button {
  margin-top: 5px;
  width: 151px;
  display: flex;
  justify-content: center;
}

.megamenu-wrapper .megamenu-single-button:hover {
  font-size: 18px;
}

.megamenu-wrapper .menu-dropdown-wrapper {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ? Menu Dropdown End */

/* HEADER END */

/* Search Modal Start*/

.modal-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; /* TODO */
}

.modal-search::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.modal-search .modal-wrapper {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  position: fixed;
  padding: 30px;
}

.modal-search .modal-title {
  font-size: 1.875rem;
  font-weight: 600;
}

.modal-search .modal-text {
  font-size: 14px;
  color: #7a7a7a;
  padding-bottom: 1.875rem;
}

.modal-search .modal-form {
  width: 100%;
  max-height: 42px;
  position: relative;
  display: flex;
}

.modal-search .modal-form::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #dee0ea;
  top: -15px;
}

.modal-search .modal-form::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #dee0ea;
  bottom: -15px;
  left: 0;
}

.modal-search .modal-form input {
  width: 100%;
  max-height: 42px;
  border: 1px solid #dee0ea;
}

.modal-search .modal-form button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 15px;
  border: 1px solid #dee0ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-search .modal-form button i {
  font-size: 18px;
  color: #7a7a7a;
}

.modal-search .search-results {
  margin-top: 30px;
}

.modal-search .search-heading {
  padding: 15px;
  border: 1px solid #dee0ea;
  background-color: #f9f9f9;
}

.modal-search .search-heading h3 {
  font-size: 1rem;
  font-weight: 600;
}

.modal-search .search-results-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-left: 1px solid #dee0ea;
}

.modal-search .result-item {
  padding: 15px;
  border-bottom: 1px solid #dee0ea;
  border-right: 1px solid #dee0ea;
  display: flex;
  column-gap: 15px;
}

.modal-search .result-item:hover {
  background-color: #f9f9f9;
}

.modal-search .result-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
}

.modal-search .search-sku {
  color: #7a7a7a;
}

.modal-search .search-price {
  color: #dc3545;
  font-weight: 600;
}

.modal-search .result-thumb {
  max-width: 65px;
  width: 100%;
}

.modal-search .bi-x-circle {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Search Modal End*/

/* ? media container start */

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 420px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 350px;
  }
}
/* ? media container end */

/* ? header responsive start */

@media (max-width: 650px) {
  header .header-center {
    display: none; /* TODO */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 50px 75px;
    height: 100vh;
    border-right: 1px solid #dee0ea;
  }

  .header-center .menu {
    flex-direction: column;
  }

  .header-center .menu a {
    font-size: 16px !important;
  }

  .header-center .menu a i {
    display: none;
  }

  .header-center .bi-x-circle {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
  }

  .header-center .menu-dropdown-wrapper {
    display: none;
  }

  header .header-mobile {
    display: inline-block;
  }
}

/* ? header responsive end */

/* ? search modal responsive start */

@media (max-width: 992px) {
  .modal-search .modal-wrapper {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .modal-search .modal-wrapper {
    max-width: 370px;
  }

  .modal-search .search-results-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ? search modal responsive end */
