.slider-item {
  position: relative;
  height: calc(100vh - 136.5px);
  display: flex;
  align-items: center;
}

.slider-item .container a {
  position: relative;
  z-index: 1;
}

.slider-item .slider-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: 60%;
  z-index: -1;
}

.slider-item .slider-title {
  font-size: 18px;
  font-weight: 500;
}

.slider-item .slider-heading {
  font-size: 60px;
  font-weight: 600;
}

.slider {
  position: relative;
}

.slider .slider-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  transition: 0.2s ease all;
}

.slider .slider-buttons button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #dee0ea;
  opacity: 0.5;
}

.slider .slider-buttons button:hover {
  background-color: #1367ef;
  opacity: 1;
  color: #fff;
  border-color: #1367ef;
}

.slider .slider-buttons button i {
  font-size: 30px;
}

.slider .slider-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}

.slider .slider-dots button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #1367ef;
  opacity: 0.4;
  transition: 0.2s ease opacity;
}

.slider .slider-dots button:hover {
  opacity: 1;
}

/* responsive */

@media (max-width: 768px) {
  .slider-item {
    height: calc(100vh - 154px);
  }

  .slider .slider-buttons button {
    display: none;
  }
}
