.contact .contact-bottom {
  margin: 40px 0;
}

.contact-bottom .contact-texts {
  width: 75%;
}

.contact-bottom .contact-texts h4 {
  color: #e11414;
  font-weight: 500;
}

.contact-bottom .contact-texts h2 {
  font-size: 40px;
  font-weight: 500;
}

.contact-bottom .contact-texts p {
  font-size: 14px;
}

.contact-bottom .contact-elements {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  column-gap: 100px;
}

.contact-bottom .contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-bottom .contact-form > div {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px);
  row-gap: 4px;
  font-size: 14px;
}

.contact-bottom .contact-form > div label span {
  color: #e11414;
}

.contact-bottom .contact-form > div:nth-child(3),
.contact-bottom .contact-form > div:nth-child(4) {
  flex-basis: 100%;
}

.contact-bottom .contact-form button {
  background-color: black;
  color: white;
}

.contact-bottom .contact-info {
  flex-basis: 50%;
}

.contact-bottom .contact-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-bottom .contact-info .contact-info-item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.contact-bottom .contact-info .contact-street {
  margin: 15px 0;
}

.contact-bottom .contact-info .contact-date {
  margin-top: 10px;
}

/*responsive*/
@media (max-width: 768px) {
  .contact-bottom .contact-elements {
    flex-direction: column;
    row-gap: 50px;
  }

  .contact-bottom .contact-texts {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact-bottom .contact-form {
    flex-direction: column;
  }
}
