.section-title {
  text-align: center;
  margin-bottom: 35px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4px;
  line-height: 0.8;
}

/* categories start */

.categories {
  margin: 40px 0;
}

.categories .category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
/* categories end */

/* products start */

.products {
  margin-bottom: 40px;
}

.products .products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
/* products end */

/* campaigns start */
.campaigns .campaigns-wrapper {
  display: flex;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}
/* campaigns end */

/* blogs start */
.blogs {
  margin-bottom: 30px;
}

.blogs .blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* blogs end */

/* brands start */
.brands {
  margin: 40px 0;
}

.brands .brand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 5px;
  border: 1px solid #dee0ea;
}

.brand-list .brand-item {
  opacity: 0.4;
  transition: 0.2s ease opacity;
}

.brand-list .brand-item:hover {
  opacity: 1;
}
/* brands end */

/* policy start */
.policy {
  margin-top: 40px;
  border: 1px solid #dee0ea;
}

.policy .policy-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px 0;
}

.policy-list .policy-item {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.policy-list .policy-item .policy-texts {
  display: flex;
  flex-direction: column;
}

.policy-list .policy-item i {
  font-size: 50px;
  display: flex;
}

.policy-list .policy-item .policy-texts strong {
  font-weight: 600;
}

.policy-list .policy-item .policy-texts span {
  font-size: 12px;
}

/*  policy end */

/*responsive */
@media (max-width: 992px) {
  .policy .policy-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .blogs .blog-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .policy .policy-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
